* {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    color: #000000;
}

body {
    background-color: skyblue;

}

h1 {
    text-align: center;
}
form{
    display: flex;
    align-items: start;
    flex-direction: column;
    border-radius: 20px;
    width: auto;
}
form>input{
    display: inline;
    margin: 10px ;
    width: 300px;
    outline: none;
    border: 2px solid rgb(224, 210, 210);
    border-radius: 5px;
    padding: 8px 2px ;
    font-size:medium;
}
form > label{

}